body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    background-color: rgb(134, 187, 223);
    color: white;
    width: 100%;
    padding: 6px 5px;
    margin: 5px 0;
}

.hero {
    background-color: blue;
    color: white;
    padding: 1%;
    font-weight: bold;
}